
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Code For Navbar */
header {
    height: 100%;
    width: 100%;
}

nav {
    color: white;
    width: 100%;
    height: 15vh;
    background-color: rgb(9, 10, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.logo h1 {
    font-size: 40px;

}

.list a {
    color: white;
    text-decoration: none;
    padding: 40px;
    font-size: 25px;
}
/* code for home */
.container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    width: 100%;
}

.container .himg img {
    height: 550px;
    width: 140%;
    padding: 15px;
    border-color: black;
}

.content h2 {
    color: rgb(12, 12, 12);
    font-size: 40px;
    font-weight: bold;
   
}