* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Code For Navbar */
header {
    height: 100%;
    width: 100%;
}

nav {
    color: white;
    width: 100%;
    height: 15vh;
    background-color: rgb(9, 10, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.logo h1 {
    font-size: 40px;

}

.list a {
    color: white;
    text-decoration: none;
    padding: 40px;
    font-size: 25px;
  
}

/* Code For Home */
.container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    width: 100%;
}

.container .himg img {
    height: 620px;
    width: 140%;
}

.content h1 {
    color: brown;
    font-family: "Segoe Print", Times, serif;
    font-size: 60px;
    font-weight: bold;
}

/* Code For About Us */
.aboutus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90vh;
}

.aboutus .aimg img {
    width: 500px;
    position: relative;
    top: 20px;
    padding: 20px;
    border: black;
}

.aboutus .acontent {
    padding: 25px;
}

.aboutus .acontent h1 {
    color: brown;
    font-family: "Segoe Print", Times, serif;
    font-size: 60px;
    font-weight: bold;
}

.aboutus .acontent h3 {
    font-size: 25px;
}

.aboutus .acontent p {
    font-size: 20px;
}

/* Code For Menu */
.images {
    width: 100%;
}

.images h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Segoe Print", Times, serif;
    color: brown;
    font-size: 40px;
    font-weight: bold;

}

.menu {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.menu .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 300px;
    margin-top: 10px;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(120, 47, 47, 0.35) 0px 5px 15px;
}

.menu .box img {
    width: 200px;
    height: 250px;

}
.login{
    color: brown;
    font-family: "Segoe Print", Times, serif;
    font-size: 60px;
    font-weight: bold;
}
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}