*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
}
nav{
    color: white;
    width: 100%;
    height: 15vh;
    background-color: rgb(9, 10, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.logo h1{
    font-size: 40px;

}
.list a{
    color: white;
    text-decoration: none;
    padding: 40px;
    font-size: 25px;
}
.container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    width: 100%;
}

.container .himg img{
    height: 620px;
    width: 140%;
}
 .content h1{
color: brown;
font-size: 60px;
 font-weight:bold;
 }
 .aimg{
    height: 50px;
    width: 10px;
 }
 .images{
    display: flex;
    padding: 90px;
    height: 110px;
    width: 110px;

 }
